[defaults]
# 忽略警告
command_warnings = False
# Ansible roles 搜索路径
roles_path = .
# 日志文件
log_path = ~/tmp/ansible/ansible.log
# 默认并行进程数
forks = 100
# 关闭主机 ssh known_hosts 检查
host_key_checking = False
# SSH 连接超时时间
timeout = 60

ansible_managed = Please do not change this file directly since it is managed by Ansible and will be overwritten
library = ./library
action_plugins = plugins/actions
callback_plugins = plugins/callback
filter_plugins = plugins/filter

gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/tmp/ansible/facts
fact_caching_timeout = 7200
nocows = 1
callback_whitelist = profile_tasks
stdout_callback = yaml
force_valid_group_names = ignore
inject_facts_as_vars = False

# Disable them in the context of https://review.openstack.org/#/c/469644
retry_files_enabled = False

[ssh_connection]
# see: https://github.com/ansible/ansible/issues/11536
control_path = %(directory)s/%%h-%%r-%%p
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
pipelining = True

# Option to retry failed ssh executions if the failure is encountered in ssh itself
retries = 10
